.lead-img {
    background: url("../images/3d74cee66709eff0b6c738baf1522297 copy.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#464646;
    min-height:1000px;
}