.lead-img {
    background: url("../images/3d74cee66709eff0b6c738baf1522297 copy.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.result-img {
    background: url("../images/400c30b4409f32bdef5598ec252ebd5a copy.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height:100%;
}

.big-button {
    width: 600px;  
    height: auto; 
    position: center center;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    height: 100vh;          /* Full viewport height */
    margin: 0;
}